@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400");
/* fullscreen setup */
html,
body {
  margin: 0;
  /* give this to all tags from html to .fullscreen */
  height: 100%;
}
* {
  font-family: "Roboto Condensed";
}
/** SECTIONS **/
.section {
  background-attachment: fixed;
}
.introduction {
  background: #ff6b00;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
}
.coverage {
  background: #323333;
  color: #ffffff;
}
.environmentallyFriendly {
  background: #00fdff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #57cbce;
  color: #1f5254;
}
.experienced {
  border-bottom: 1px solid #cbcbcb;
  background: #efefef;
  color: #575757;
}
/** SECTIONS END **/
p,
h1 {
  margin: 0px;
}
.coverage .container,
.environmentallyFriendly .container,
.experienced .container {
  padding-top: 20px;
}
@media (max-width: 767px) {
  .coverage > .sectionCanvas > .sectionContent h1,
  .coverage > .sectionCanvas > .sectionContent p,
  .experienced > .sectionCanvas > .sectionContent h1,
  .experienced > .sectionCanvas > .sectionContent ul,
  .environmentallyFriendly > .sectionCanvas > .sectionContent p,
  .environmentallyFriendly > .sectionCanvas > .sectionContent h1,
  .contactUs > .sectionCanvas > .sectionContent p {
    text-align: center;
  }
  .environmentallyFriendly > .sectionCanvas > .sectionContent img,
  .coverage > .sectionCanvas > .sectionContent img {
    padding-top: 40px;
  }
  .experienced > .sectionCanvas > .sectionContent li {
    list-style-type: none;
  }
  .experienced > .sectionCanvas > .sectionContent {
    padding-top: 40px;
  }
  .experienced > .sectionCanvas > .sectionContent img {
    margin-top: -30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .coverage > .sectionCanvas > .sectionContent h1,
  .coverage > .sectionCanvas > .sectionContent p,
  .experienced > .sectionCanvas > .sectionContent h1,
  .experienced > .sectionCanvas > .sectionContent ul,
  .contactUs > .sectionCanvas > .sectionContent p,
  .environmentallyFriendly > .sectionCanvas > .sectionContent p,
  .environmentallyFriendly > .sectionCanvas > .sectionContent h1 {
    text-align: center;
  }
  .environmentallyFriendly > .sectionCanvas > .sectionContent img {
    padding-top: 20px;
  }
  .experienced > .sectionCanvas > .sectionContent img {
    margin-bottom: -60px;
  }
  .experienced > .sectionCanvas > .sectionContent ul {
    margin-bottom: 40px;
  }
  .coverage > .sectionCanvas > .sectionContent img {
    padding-top: 40px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .contactUs > .sectionCanvas > .sectionContent p {
    text-align: center;
  }
  .environmentallyFriendly > .sectionCanvas > .sectionContent h1 {
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  .contactUs > .sectionCanvas > .sectionContent p {
    text-align: center;
  }
  .environmentallyFriendly > .sectionCanvas > .sectionContent h1 {
    margin-top: 30px;
  }
}
